# --------------------
# Archives / heavy files
# --------------------
*.zip
*.tar
*.tar.gz
*.rar

# --------------------
# Media files
# --------------------
*.mp4
*.mov
*.avi

# --------------------
# Logs
# --------------------
*.log
*.txt

# --------------------
# OS / editor junk
# --------------------
.DS_Store
*.swp
*.swo
*~

